/* a:visited {
  color: white;
} */

a:link {
  color: white;
}

.app-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
}

#inputbox-container {
  /* margin: 0 auto 0 auto; */
  min-width: 410px;
  width: var(--content-width);
}

.input {
  max-width: 561px !important;
  width: 100% !important;
  margin: 0px auto 0 auto;
}

.logo {
  font-size: 70px;
  margin-top: 0px;
  padding-top: 150px;
}

.logosize {
  max-width: 500px;
  margin: 0 auto 0 auto;
}
