a:link {
  /* color: white; */
  color: maroon;
}

.app-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
}

#inputbox-container {
  /* margin: 0 auto 0 auto; */
  min-width: 410px;
  width: var(--content-width);
}

.input {
  max-width: 650px !important;
  width: 100% !important;
  margin: 0px auto 0 auto;
  border-radius: 25px;
}

.logosize {
  margin: 0px auto 0px auto;
  align-content: center;
  max-width: 500px;
}

.logo {
  /* min-width: 300px; */
  padding-top: 150px;
}

@media screen and (max-width: 900px) {
  .logosize {
    margin: 0px auto 0px auto;
    align-content: center;
    width: 500px;
    max-width: 90%;
  }

  .input {
    max-width: 650px !important;
    width: 90% !important;
    margin: 0px auto 0 auto;
    border-radius: 25px;
  }
}

@media screen and (max-width: 765px) {
  .logosize {
    margin: 0px auto 0px auto;
    align-content: center;
    width: 500px;
    max-width: 85%;
  }

  .input {
    max-width: 650px !important;
    width: 85% !important;
    margin: 0px auto 0 auto;
    border-radius: 25px;
  }
}

@media screen and (max-width: 650px) {
  .logosize {
    margin: 0px auto 0px auto;
    align-content: center;
    width: 500px;
    max-width: 75%;
  }

  .input {
    max-width: 650px !important;
    width: 80% !important;
    margin: 0px auto 0 auto;
    border-radius: 25px;
  }
}

@media screen and (max-width: 550px) {
  .logosize {
    margin: 0px auto 0px auto;
    align-content: center;
    width: 500px;
    max-width: 60%;
  }

  .input {
    max-width: 650px !important;
    width: 70% !important;
    margin: 0px auto 0 auto;
    border-radius: 25px;
  }
}

@media screen and (max-width: 500px) {
  .logosize {
    margin: 0px auto 0px auto;
    align-content: center;
    width: 500px;
    max-width: 50%;
  }

  .input {
    max-width: 350px !important;
    width: 60% !important;
    margin: 0px auto 0 auto;
    border-radius: 25px;
  }
}

@media screen and (max-width: 400px) {
  .logosize {
    margin: 0px auto 0px auto;
    align-content: center;
    width: 500px;
    max-width: 50%;
  }

  .input {
    max-width: 300px !important;
    width: 60% !important;
    margin: 0px auto 0 auto;
    border-radius: 25px;
  }
}

@media screen and (max-width: 380px) {
  .logosize {
    margin: 0px auto 0px auto;
    align-content: center;
    width: 500px;
    max-width: 50%;
  }

  .input {
    max-width: 250px !important;
    width: 60% !important;
    margin: 0px auto 0 auto;
    border-radius: 25px;
  }
}
